// ヘッダー


// 変数、ミックスイン、関数
@use "../../global" as g;


.header {

  &__inner {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 120px;
  }


  @include g.mq(sm-min) {

    &__inner {
      padding-block: 2rem;
    }

    &__logo {
      width: 200px;
    }
  }
}
