<header class="header">
  <div class="header__inner l-container">

    <h1 class="header__heading">
      <a class="header__link" href="/">
        <img class="header__logo" src="/images/common/logo.svg" alt="Sample Web" width="204" height="36">
      </a>
    </h1>

    <nav class="gNav">
      <ul class="gNav__list">
        <li class="gNav__item">
          <a class="gNav__link gNav__link--home" href="/">ホーム</a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link gNav__link--recruit" href="/recruit/">募集要項</a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link gNav__link--form" href="/form/">応募</a>
        </li>
      </ul>
    </nav>

  </div><!-- /.header__inner.l-container -->
</header>
