<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head.ejs', recruit) %>


<body class="recruit">

<%- include('../components/common/_header.ejs') %>


<main class="primaryMain">

  <h2 class="primaryMain__heading primaryHeading primaryHeading--center">募集要項</h2>

  <p class="primaryMain__text">私たちと一緒に働きませんか？自分なりの信念を持ち、学び続けられる。そんな仲間を募集しています。</p>

  <table class="primaryMain__table primaryTable">
    <tr class="primaryTable__row">
      <th class="primaryTable__header">職種</th>
      <td class="primaryTable__data">Webデザイナー</td>
    </tr>

    <tr class="primaryTable__row">
      <th class="primaryTable__header">業務内容</th>
      <td class="primaryTable__data">プランニングからデザイン設計、HTML/CSSでのコーディングまで、Webサイトを制作する幅広い業務をおまかせします。</td>
    </tr>

    <tr class="primaryTable__row">
      <th class="primaryTable__header">必須スキル</th>
      <td class="primaryTable__data">Adobe Photoshop、Adobe XD、HTML/CSS</td>
    </tr>

    <tr class="primaryTable__row">
      <th class="primaryTable__header">歓迎スキル</th>
      <td class="primaryTable__data">JavaScript、WordPress、ニュースレターテンプレート制作</td>
    </tr>

    <tr class="primaryTable__row">
      <th class="primaryTable__header">給与</th>
      <td class="primaryTable__data">スキル・経験・実績による（500万円〜800万円/年）<br>
        賞与年2回（夏季・冬季）</td>
    </tr>

    <tr class="primaryTable__row">
      <th class="primaryTable__header">休日・休暇</th>
      <td class="primaryTable__data">土日祝日、有給休暇、夏季休暇、年末年始休暇、アニバーサリー休暇</td>
    </tr>

    <tr class="primaryTable__row">
      <th class="primaryTable__header">勤務時間</th>
      <td class="primaryTable__data">9：00 ～ 18：00（休憩 1時間）</td>
    </tr>

    <tr class="primaryTable__row">
      <th class="primaryTable__header">勤務地</th>
      <td class="primaryTable__data">東京、大阪 または リモート</td>
    </tr>

    <tr class="primaryTable__row">
      <th class="primaryTable__header">応募方法</th>
      <td class="primaryTable__data">応募フォームよりポートフォリオWebサイトのURLをお送りください。</td>
    </tr>
  </table>

  <a class="primaryMain__btn primaryBtn primaryBtn--center primaryBtn--01" href="/form/">応募フォーム</a>

  <h2 class="primaryMain__heading primaryHeading primaryHeading--center">採用までの流れ</h2>

  <ol class="primaryMain__flowList flowList">
    <li class="flowList__item">
      <div class="flowList__title">お申込み</div>

      <p class="flowList__text flowList__text--apply">応募フォームより必要事項を記入してお申し込みください。ファイルの添付はできません。</p>
    </li>

    <li class="flowList__item">
      <div class="flowList__title">スキルテスト</div>

      <p class="flowList__text flowList__text--test">HTML/CSSのコーディングについてスキルテストを行います。（所要時間60分）</p>
    </li>

    <li class="flowList__item">
      <div class="flowList__title">面談</div>

      <p class="flowList__text flowList__text--interview">スキルテストに合格した人はビデオ通話にて30分程度の面談を行います。日程は相談可能です。</p>
    </li>

    <li class="flowList__item">
      <div class="flowList__title">採用</div>

      <p class="flowList__text flowList__text--contract">採用となった方は契約完了後、ご希望の勤務地により業務がスタートします。一緒に素敵なWebサイトを作りましょう！</p>
    </li>
  </ol>

</main>


<%- include('../components/common/_footer', {buttonText: "応募フォーム"}) %>

<%- include('../components/common/_script') %>

</body>
</html>
